# **STATISTICS FOR DATA SCIENCE ASSIGNMENT-4**

## Objective: To do hypothesis testing

For the purose of this project we have choosen 3 reserach hypothesis that we would like to test
#### 1) If the average duration of a song is greater than 4 minutes (240000 milli seconds)
#### 2) If the average tempo or the number of beats per minute of a song is  not 116
#### 3) If more than 35% of the pop songs have a popularity greater that or equal to 55

In [1]:
import pandas as pd
import sklearn

In [2]:
df=pd.read_csv(r'final_dataset.csv')
df.head()

,artists,acousticness,danceability,duration_ms,energy,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count,genres
0,"""Weird Al"" Yankovic",0.176934,0.664788,218165.2576,0.685136,0.162139,-9.877909,0.082392,132.495091,0.754409,33.681818,9,1,132,"['antiviral pop', 'comedy rock', 'comic', 'par..."
1,$pyda,0.000122,0.514000,331240.0000,0.899000,0.367000,-5.115000,0.060200,174.028000,0.266000,58.000000,7,1,1,[others]
2,'Be More Chill' Ensemble,0.764000,0.497000,164400.0000,0.474000,0.453000,-7.279000,0.044000,133.934000,0.493000,52.000000,3,1,1,[others]
3,'In The Heights' Original Broadway Company,0.636588,0.541000,301908.2941,0.402282,0.193824,-9.405882,0.150006,114.952529,0.407765,46.588235,7,1,17,"['broadway', 'show tunes']"
4,'Little Women' Original Broadway Cast,0.902000,0.345000,275360.0000,0.325000,0.072100,-7.955000,0.035400,90.030000,0.168000,42.000000,1,1,2,[others]

## Hypothesis 1

The null hypothesis is that the average duration of songs is less than or equal to 240000 ms. We wish to find if the fact is true or not.

 **Null hypothesis**
    $$H_{o}:\mu <= 240000 $$
 **Alternative Hypothesis**
  $$H_{1} :\mu > 240000 $$
  Here $\mu$ is poulation mean.

In [3]:
#finding the mean, standard deviation of duration of the songs
df['duration_ms'].describe()

count     17137.000000
mean     235154.663676
std       76238.529939
min       27867.000000
25%      186553.750000
50%      223393.705900
75%      268637.200000
max      600000.000000
Name: duration_ms, dtype: float64

We find that sample mean **X** is 235149.927895 and the standard deviation of the sample **s**  is 76238.233780

Substituing in the formula to find the *z* value
 $$ z=\frac{X-\mu}{\frac{s}{\sqrt{n}}}  $$

In [4]:
des_list=list(df['duration_ms'].describe())
x=des_list[1]
sd=des_list[2]
mu=240000
n=des_list[0]
z_score=(x-mu)/(sd/n**(1/2))
z_score

-8.319875213452729

* We choose the significance level $ \alpha $ as 0.05. 
* This is a right tailed test, so we need to find the area of the graph to the right of the z_score which will be the p value
$$  p value=1 $$
### Since the p value is greater than the significance level $\alpha$ we **Fail to reject the Null Hypothesis**

## Hypothesis 2

The Null Hypothesis is that the average tempo or the number of beats per minute of a song is 116

**Null hypothesis** 
    $$H_{o}:\mu = 116 $$
 **Alternative Hypothesis**
  $$H_{1} \mu \neq 116 $$
  Here $\mu$ is poulation mean.

In [5]:
#finding the mean.standard deviation of tempo of the songs
df['tempo'].describe()

count    17137.000000
mean       117.672831
std         23.265868
min         12.198667
25%        102.871000
50%        117.283000
75%        130.283471
max        217.743000
Name: tempo, dtype: float64

We find that sample mean **X** is 117.679942 and the standard deviation of the sample **s**  is  23.260666

Substituing in the formula to find the *z* value
 $$ z=\frac{X-\mu}{\frac{s}{\sqrt{n}}}  $$

In [6]:
des_list=list(df['tempo'].describe())
x=des_list[1]
sd=des_list[2]
mu=117
n=des_list[0]
z_score=(x-mu)/(sd/n**(1/2))
z_score

3.7857700739673112

* We choose the significance level $\alpha$ as 0.05
*The is a two sided test, $\alpha/2$ is 0.025
* We find the area of the curve to the right of the z_value and call it the p_value
$$ pvalue= 0.00007 $$
### Since the p value is less than 0.025, we **Reject the Null Hypothesis**

## Hypothesis 3

The null hypothesis is that the propotion of pop songs that have a popularity of 55 and above are less than or equal to 35% of the pop songs

**Null hypothesis**
    $$H_{o}:p <= 0.350 $$
 **Alternative Hypothesis**
  $$H_{1} :p > 0.350 $$
  Here p is poulation propotion.

In [7]:
#get a list of all pop songs
df2=df[['popularity','genres']]
df2 = df2[df2['genres'].str.contains('pop')]
df2.head()

    popularity                                             genres
0    33.681818  ['antiviral pop', 'comedy rock', 'comic', 'par...
5    35.125000  ['boston rock', 'dance rock', 'new romantic', ...
6    66.000000  ['latin', 'puerto rican pop', 'reggaeton', 'tr...
9    74.666667                      ['k-pop', 'k-pop girl group']
10   45.794872        ['boy band', 'dance pop', 'europop', 'pop']

In [8]:
#find  the propotion of pop songs with popularity>=50 
total=list(df2.count())[0]
pop=0
for p in df2['popularity']:
    if float(p)>55 or float(p)==55:
        pop+=1
p_hat=pop/total

In [9]:
p_hat

0.35491383325570564

We find that the sample propotion **p_hat** is 0.3547635686000466

Substituing in the formula to find the *z* value
$$ z=\frac{phat-p}{\sqrt{\frac{p(1-p)}{n}}}  $$

In [10]:
p=0.35
z_score=(p_hat-p)/((p*(1-p))/n)**(1/2)

In [11]:
z_score

1.3486433431508802

* We choose the significance level $ \alpha $ as 0.05. 
* This is a right tailed test, so we need to find the area of the graph to the right of the z_score which will be the p value
$$  p value=0.0962 $$
### Since p value is greater than the significance level, we will **Fail to reject the Null Hypothesis**

# Conclusion
From the hypothesis testing, we can conclude that 
* **The average duration of songs is less than or equal to 4 minutes**
* **The average beats per mintute or tempo of songs is not equal to 116**
* **35% or less pop songs have a popularity score of 55 or greater**